{# filepath: templates/Profile/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Éditer le Profil{% endblock %}

{% block body %}
    <h1>Éditer le Profil</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('profile') }}">Retour au profil</a>
{% endblock %}